build/
test/
dist/
lib/
/hillc-breaker/nbproject/private/
/JavaLibrary9/nbproject/private/
/ApplicationClient1/nbproject/private/
/hillc-chat/nbproject/private/
/hillc-chat/hillc-chat-client/nbproject/private/
/hillc-chat/hillc-chat-server/nbproject/private/